

h1 {
	color: #C62828;
	background-color: #4FC3F7;
}
p {
	color: #80DEEA;
}
ul li {
	background-color: #FFEB3B;
}
h2 {
	color: #004D40;
	background-color: #E65100;
}
ol li {
	background-color: teal;
}

